.a-super-earth {
  position: absolute;
  top: 259.88rem;
  left: 0;
  font-size: var(--font-size-181xl);
  font-family: var(--font-londrina-outline);
  background: linear-gradient(180deg, #6aff94 35.94%, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 164.56rem;
  height: 11.06rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.property-1variant2-child,
.property-1variant2-item {
  position: absolute;
  top: 22.84rem;
  left: 8.71rem;
  height: 0;
}
.property-1variant2-child {
  width: 0.01rem;
}
.property-1variant2-item {
  width: 0;
}
.group-icon,
.vector-icon {
  position: absolute;
  top: 22.83rem;
  left: 8.7rem;
  width: 0.02rem;
  height: 0.01rem;
}
.group-icon {
  top: 437.75rem;
  left: -2rem;
  width: 26.19rem;
  height: 21rem;
}
.kepler-22b {
  position: relative;
  line-height: 4.38rem;
  display: inline-block;
  background: linear-gradient(90deg, #6aff94, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 25.81rem;
}
.solar-system-exploration {
  position: relative;
  font-size: var(--font-size-71xl);
  line-height: 6.25rem;
  display: inline-block;
  width: 51.69rem;
}
.title {
  position: absolute;
  top: 25.75rem;
  left: 11.38rem;
  width: 27.75rem;
  height: 14.63rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.light-icon,
.property-1variant2-child1 {
  position: absolute;
  top: 53.63rem;
  left: 12.06rem;
  width: 43.38rem;
  height: 9.69rem;
}
.light-icon {
  top: 76.56rem;
  left: -45.06rem;
  width: 65.56rem;
  height: 49.13rem;
  object-fit: cover;
}
.earths,
.mass {
  align-self: stretch;
  position: relative;
}
.earths {
  font-size: var(--font-size-5xl);
  line-height: 155%;
  font-weight: 600;
  font-family: var(--font-noto-serif-malayalam);
  color: var(--dark-light-white);
}
.text-block,
.text-block1 {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text-block {
  top: 5.75rem;
  width: 7.5rem;
}
.text-block1 {
  top: 0;
  width: 9.13rem;
}
.au {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 155%;
  font-weight: 600;
  font-family: var(--font-noto-serif-malayalam);
  color: var(--dark-light-white);
  display: inline-block;
  height: 2.19rem;
  flex-shrink: 0;
}
.text-block2 {
  top: 0;
  left: 11.19rem;
  width: 8.94rem;
  height: 4rem;
}
.text-block2,
.text-block3,
.text-block4,
.text-block5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.text-block3 {
  top: 6rem;
  left: 11.19rem;
  width: 9.31rem;
}
.text-block4,
.text-block5 {
  left: 23.38rem;
}
.text-block4 {
  top: 0;
}
.text-block5 {
  top: 6rem;
}
.text-block-parent {
  position: absolute;
  top: 51.94rem;
  left: 11.38rem;
  width: 31.81rem;
  height: 10rem;
  font-size: var(--font-size-mini-5);
  color: var(--color-mediumspringgreen-100);
  font-family: var(--font-marko-one);
}
.image-7-icon {
  position: absolute;
  top: 17.38rem;
  left: 44.98rem;
  width: 53.44rem;
  height: 48.16rem;
  object-fit: cover;
}
.property-1variant2-child2 {
  position: absolute;
  top: 153.69rem;
  left: 79.56rem;
  border-radius: var(--br-381xl);
  background-color: var(--color-gray);
  border: 10px solid var(--color-mediumspringgreen-200);
  box-sizing: border-box;
  width: 19.94rem;
  height: 58.06rem;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.property-1variant2-child3,
.property-1variant2-child4 {
  position: absolute;
  top: 143.75rem;
  left: 16.38rem;
  width: 3.13rem;
  height: 2.88rem;
}
.property-1variant2-child4 {
  top: 207.69rem;
  left: 16.88rem;
}
.line-div,
.property-1variant2-child5 {
  position: absolute;
  top: 153.69rem;
  left: 17.94rem;
  width: 0;
  height: 46.94rem;
}
.property-1variant2-child5 {
  top: 215.31rem;
  height: 29.13rem;
}
.line-icon {
  position: absolute;
  top: 133.63rem;
  left: 18.19rem;
  width: 4.66rem;
  height: 0;
}
.property-1variant2-child6 {
  position: absolute;
  top: 259.69rem;
  left: 17.94rem;
  width: 34.88rem;
  height: 0;
}
.property-1variant2-child7 {
  position: absolute;
  top: 295rem;
  left: 21.06rem;
  width: 6.5rem;
  height: 0;
}
.property-1variant2-child8,
.rectangle-icon {
  position: absolute;
  top: 250.19rem;
  left: 26.81rem;
  border-radius: var(--br-xl);
  width: 33.63rem;
  height: 8.38rem;
}
.property-1variant2-child8 {
  top: 205.31rem;
  left: 25.81rem;
  height: 9.13rem;
}
.in-the-cosmic {
  position: absolute;
  top: 153.69rem;
  left: 24.19rem;
  font-size: var(--font-size-13xl);
  line-height: 4.38rem;
  font-family: var(--font-mandali);
  display: inline-block;
  width: 49.88rem;
  height: 39.25rem;
}
.a-cosmic-marvel {
  margin: 0;
}
.a-cosmic-marvel-container {
  position: absolute;
  top: 220.31rem;
  left: 24.19rem;
  font-size: var(--font-size-13xl);
  line-height: 4.38rem;
  font-family: var(--font-mandali);
  display: inline-block;
  width: 51rem;
  height: 15.75rem;
}
.property-1variant2-child9 {
  position: absolute;
  top: 251.5rem;
  left: 16.44rem;
  width: 3.13rem;
  height: 2.88rem;
}
.kepler-22b-harbors-an {
  position: absolute;
  top: 263.69rem;
  left: 24.19rem;
  font-size: var(--font-size-13xl);
  line-height: 4.38rem;
  font-family: var(--font-mandali);
  display: inline-block;
  width: 51.81rem;
  height: 25.38rem;
}
.property-1variant2-child10 {
  position: absolute;
  top: 263.94rem;
  left: 12.7rem;
  border-radius: var(--br-381xl);
  background-color: var(--color-gray);
  border: 10px solid var(--color-mediumspringgreen-200);
  box-sizing: border-box;
  width: 7.07rem;
  height: 29.83rem;
  transform: rotate(89.32deg);
  transform-origin: 0 0;
}
.property-1variant2-child11,
.property-1variant2-child12 {
  position: absolute;
  top: 328.84rem;
  left: 9.42rem;
  width: 0.01rem;
  height: 0.01rem;
}
.property-1variant2-child12 {
  left: 9.41rem;
  width: 0.02rem;
}
.property-1variant2-child13 {
  position: absolute;
  top: 142.69rem;
  left: 20.56rem;
  border-radius: var(--br-xl);
  width: 33.59rem;
  height: 9.06rem;
}
.a-cosmic-gem,
.atmosphere-unveiling-celestia,
.exploring-a-super-earth {
  position: absolute;
  top: 140.13rem;
  left: 25.09rem;
  line-height: 4.38rem;
  display: inline-block;
  color: var(--color-mediumspringgreen-100);
  width: 47.56rem;
  height: 11.63rem;
}
.a-cosmic-gem,
.atmosphere-unveiling-celestia {
  top: 204.06rem;
  left: 27rem;
}
.atmosphere-unveiling-celestia {
  top: 248.56rem;
  left: 27.63rem;
}
.property-1variant2-child14 {
  position: absolute;
  top: 93.81rem;
  left: 13.56rem;
  border-radius: var(--br-xl);
  width: 62.31rem;
  height: 9.31rem;
}
.property-1variant2 {
  position: absolute;
  top: 352.25rem;
  left: 1.25rem;
  background-color: var(--color-gray);
  width: 90rem;
  height: 349.75rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--dark-light-white);
  font-family: var(--font-manrope);
}
